/** @format */

body {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
    font-family: "Zen Kaku Gothic New", sans-serif;
}

.header-nav {
    position: sticky;
    top: 0;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    background-color: #043c86;

    & > img {
        width: 200px;
        aspect-ratio: 5/2;
    }

    .nav-contact {
        width: 150px;
        padding-top: 30px;
        text-align: center;
        color: #ffffff;
        background-color: #f18301;
        text-decoration: none;
        transition: 0.5s;
    }
}

.main {
    font-size: 1.2rem;

    // コンテンツのタイトル
    .contents-width {
        max-width: 1080px;
        margin: 200px auto;
    }

    .contents-bg {
        padding: 100px 0;
        background-color: #e4eefc;
    }

    .contents-title {
        margin-bottom: 200px;
        text-align: center;

        .head {
            color: #043c86;
            margin-bottom: 10px;
        }

        .sub {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                background-color: #043c86;
                top: 40px;
                left: 50%;
                width: 1px;
                height: 50px;
                border: #043c86;
            }
        }
    }

    .contents-detail {
        word-wrap: break-word;
        line-height: 2.4rem;
    }
    //ここまで

    .top {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 90vh;
            background: rgba(0, 0, 0, 0.2);
        }

        .top-bg {
            width: 100%;
            height: 90vh;
        }

        .top-title {
            position: absolute;
            top: 70%;
            right: -20%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
    }

    .concept {
        .concept-name {
            margin-top: 100px;
            padding-right: 200px;
            text-align: right;
            font-size: 2.4rem;
            font-family: "Yuji Mai", serif;
        }
    }

    .service {
        background-color: #e4eefc;

        .service-detail {
            max-width: 1080px;
            margin: 0 auto;

            .service-item {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 50px;
                margin: 150px 0;
                color: #043c86;

                & > img {
                    width: 350px;
                    height: 350px;
                    object-fit: cover;
                }

                .text {
                    width: 50%;

                    .text-title {
                        text-align: center;
                        font-size: 2rem;
                        font-weight: bold;
                        padding-bottom: 30px;
                    }

                    .text-detail {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    .floor-img {
        & > img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }
    .floor {
        .floor-item {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
            margin: 150px 0;

            &:nth-child(even) {
                flex-direction: row-reverse;
            }

            & > img {
                width: 350px;
                object-fit: cover;
            }

            .text {
                width: 50%;

                .text-title {
                    text-align: center;
                    font-size: 2rem;
                    font-weight: bold;
                    padding-bottom: 30px;
                }

                .text-detail {
                    font-size: 1.2rem;
                }
            }
        }
    }
}
